<div class="row no-gutters">
  <div class="col-md-2 mx-2 shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0">検索</h5>
    <div class="form-body p-4">
      <%= form_with(url: fitness_gyms_path, method: :get, id:"search_form") do |f| %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {selected: params[:genre_id]}, {class:"genre-select, mb-3"}) %>
        <%= f.text_field :search, value: params[:search], class: "form-control, mb-3", placeholder: "キーワード" %>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div>
            <%= tag.label do %>
              <%= tag.check_box checked: params[:tag_ids]&.map(&:to_i)&.include?(tag.object.id) %>
            <% end %>
            <%= tag.object.name%>
          </div>
        <% end %>
        <%= f.submit "Search" ,:username => nil, class: "button is-info"%>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 ">
    <div id="map" style="width: 100%; height: calc(100vh - 88px - 179px);" data-latitude="<%= @latitude %>" data-longitude="<%= @longitude %>"></div>
  </div>
</div>

<%= javascript_pack_tag 'fitness_gym', 'data-turbolinks-track': 'reload' %>