<h1>マップ</h1>
<%= form_tag(fitness_gyms_path, :method => "get") do %>
  <%= text_field_tag :search %> 
  <%= submit_tag "Search" ,:username => nil ,class: "button is-info"%> 
<% end %> 

<%= form_with(model: @fitness_gym) do |form| %>
  <div class="check_box">
    <span>タグ</span>
    <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
        <% end %>

        <%= tag.object.name%>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<% @fitness_gyms.each do |fitness_gym| %>
  <p><%= fitness_gym.content %></p>
  <p>Tags: <%= fitness_gym.tags.pluck(:name).join(",") %></p>
<% end %>