<h1>マップ</h1>
<%= form_tag(fitness_gyms_path, :method => "get") do %>
  <%= text_field_tag :search %> 
  <%= submit_tag "Search" ,:username => nil ,class: "button is-info"%> 
<% end %> 

<p id="notice"><%= notice %></p>
<%= form_tag fitness_gyms_path, method: :get, class: 'boards__searchForm' do %>
      <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>


<% @fitness_gyms.each do |fitness_gym| %>
  <p><%= fitness_gym.content %></p>
  <p>Tags: <%= fitness_gym.tags.pluck(:name).join(",") %></p>
<% end %>