

<div class="container">
  <h1><%= @fitness_gym.name %></h1>

      <%= form_with(model: @review) do |f| %>
        <%= f.hidden_field :fitness_gym_id, value: @fitness_gym.id %>

        <div class="mb-2 row">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control col-6" %>
        </div>

        <div class="mb-2 row">
          <%= f.label :content %>
          <%= f.text_area :content, rows: 5, class: "form-control col-6" %>
        </div>

        <div class="mb-2">
          <label>評価：</label>
          <div id="rating-form"></div>
        </div>

        <script>
          $(document).on('turbolinks:load', function() {
            // scriptファイルをどのidの部分に配置するかを指定
            document.querySelector('#rating-form').innerHTML = '';
            raty(document.querySelector('#rating-form'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                scoreName: 'review[star]'

              }
            );
          });
        </script>

        <div class="mb-2">
          <%= f.submit "review", class: "btn btn-primary" %>
        </div>
      <% end %>




<% if @reviews.any? %>
  <% @reviews.each do |review| %>
    <div class="<%= review.id %>">
      <div id="post_raty_<%= review.id %>"></div>
      <script>
        // scriptファイルをどのidの部分に配置するかを指定
        document.querySelector('#post_raty_<%= review.id %>').innerHTML = '';
        raty(document.querySelector('#post_raty_<%= review.id %>'),
        {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: "<%= review.star %>",
          readOnly: true
        });
      </script>
      <p>投稿ユーザー画像：<%= image_tag review.user.get_profile_image(100,100) %></p>
      <p>タイトル: <%= link_to review.title, review_path(review.id) %></p>
      <p>説明：<%= review.content %></p>
      <p>ユーザーネーム：<%= link_to review.user.name, user_path(review.user) %></p>
      <% if review.user == current_user %>
        <%= link_to "編集", edit_review_path(review) %>
      <% end %>
      <% if review.user == current_user %>
        <%= link_to "削除", review_path(review), method: :delete %>
      <% end %>
      <% if review.favorited_by?(current_user) %>
        <p>
          <%= link_to review_favorite_path(review), method: :delete do %>
            ♥<%= review.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to review_favorite_path(review), method: :post do %>
            ♡<%= review.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
    </div>

    <div>
      <p>コメント件数：<%= review.review_comments.count %></p>
      <% review.review_comments.each do |review_comment| %>
        <p><%= image_tag review_comment.user.get_profile_image(30,30) %></p>
        <%= review_comment.user.name %>
        <%= review_comment.created_at.strftime('%Y/%m/%d') %><%= review_comment.comment %>
        <% if review_comment.user == current_user %>
          <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with model: @review_comment,url: review_review_comments_path(review.id) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  <% end %>
<% end %>

</div>