<div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0">レビュー編集</h5>
    <div class="form-body p-4">
      <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= form_with model: @review do |f| %>
      
        <h6>タイトル</h6>
        <%= f.text_field :title, class: " mb-3 form-control col-6" %>
      
        <h6>説明</h6>
        <%= f.text_area :content, class: "mb-3 form-control" %>
      
        <div>
          <label>評価：</label>
          <div id="rating-form"></div>
        </div>
        <br>
      
        <script>
          $(document).on('turbolinks:load', function() {
            // scriptファイルをどのidの部分に配置するかを指定
            document.querySelector('#rating-form').innerHTML = '';
            raty(document.querySelector('#rating-form'),
              {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                score: "<%= @review.star %>",
              }
            );
          });
        </script>
      
        <%= f.submit '保存' %>
      <% end %>
    </div>
  </div>
</div>
