<h1>編集画面</h1>
<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @review do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>説明</h4>
  <%= f.text_area :content %>

  <div id="rating-form">
    <label>評価：</label>
    <%= f.hidden_field :star, :value => 'score' %>
  </div>

  <script>
         let elem = document.querySelector('#rating-form');
           // scriptファイルをどのidの部分に配置するかを指定
         let opt = {
           starOn: "<%= asset_path('star-on.png') %>",
           starOff: "<%= asset_path('star-off.png') %>",
           starHalf: "<%= asset_path('star-half.png') %>",
           score: "<%= @review.star %>",

         };
         raty(elem,opt);
  </script>

  <%= f.submit '保存' %>

<% end %>
