<h1>編集画面</h1>
<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @review do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>説明</h4>
  <%= f.text_area :content %>

  <div>
    <label>評価：</label>
    <div id="rating-form"></div>
  </div>

  <script>
    $(document).on('turbolinks:load', function() {
      // scriptファイルをどのidの部分に配置するかを指定
      document.querySelector('#rating-form').innerHTML = '';
      raty(document.querySelector('#rating-form'),
        {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          score: "<%= @review.star %>",
        }
      );
    });
  </script>

  <%= f.submit '保存' %>

<% end %>
