<div>
  <p>タイトル：<%= @review.title %></p>
  <p>説明：<%= @review.content %></p>
  <p>投稿ユーザー画像：<%= image_tag @review.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @review.user.name %></p>
  <p>投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></p>
  <div id="post_raty"></div>
  <script>
    $(document).on('turbolinks:load', function() {
      // scriptファイルをどのidの部分に配置するかを指定
      document.querySelector('#post_raty').innerHTML = '';
      raty(document.querySelector('#post_raty'),
        {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
          score: "<%= @review.star %>",
        }
      );
    });

  </script>
  <% if @review.user == current_user %>
    <%= link_to "編集", edit_review_path(@review) %>
  <% end %>
  <% if @review.user == current_user %>
    <%= link_to "削除", review_path(@review), method: :delete %>
  <% end %>
  <% if @review.favorited_by?(current_user) %>
    <p>
      <%= link_to review_favorite_path(@review), method: :delete do %>
        ♥<%= @review.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to review_favorite_path(@review), method: :post do %>
        ♡<%= @review.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @review.review_comments.count %></p>
  <% @review.review_comments.each do |review_comment| %>
    <p><%= image_tag review_comment.user.get_profile_image(100,100) %></p>
    <%= review_comment.user.name %>
    <%= review_comment.created_at.strftime('%Y/%m/%d') %><%= review_comment.comment %>
    <% if review_comment.user == current_user %>
      <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@review, @review_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
