<!DOCTYPE html>
<html>
  <head>
    <title>Gym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/49cf509c58.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <% if user_signed_in? %>
        <%= render 'layouts/user_menu_bar' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/admin_menu_bar' %>
      <% else %>
        <%= render 'layouts/general_user_menu_bar' %>
      <% end %>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
    </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
